<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.server.dao.SysRoleMapper">

    <resultMap id="roleMap" type="SysRole">
        <id property="roleId" column="role_id"/>
        <result property="roleCreated" column="role_created" jdbcType="TIMESTAMP" />
        <result property="roleUpdated" column="role_updated" jdbcType="TIMESTAMP" />
    </resultMap>

</mapper>
